.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    border-top: 1px ridge;
    min-height:200px;
}

.row-content-v2 {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    min-height:100px;
}

.footer{
    background-color: #512DA8;
    color: floralwhite;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    background-image: url(../spice_spoons_detail.jpg);
    background-position: 0% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0px auto;
    color:floralwhite;
}

.address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}

/* unvisited link */
a:link {
    color: white;
}

/* mouse over link */
a:hover {
    color: orangered;
}
