.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #512DA8;
  color: floralwhite;
  margin: 0px auto;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-image: url(../spice_spoons_detail.jpg);
  background-position: 0% 40%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px auto;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #512DA8; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #512DA8; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      display: block;
      max-width: 300px;
      height: 300px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px; }

.btn-smoking {
  background-color: #f83333;
  color: white; }

.btn-smoking.active {
  background-color: #930E0A; }

.btn-nonsmoking {
  background-color: #177529;
  color: white; }

.btn-nonsmoking.active {
  background-color: #0E4915; }

.modal-header {
  background-color: #512DA8;
  color: floralwhite; }

.modal-body {
  background-color: #D1C4E9; }

.img-thumbnail {
  height: 200px;
  width: 150px; }
